<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/aside.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <script src="../javascript/login.js"></script>
    </head>
    <body>
        <header>
            <div class="headerContainer">
                <div class="rr-logo-head">
                    <img src="../assets/img/RR-logo.png" alt="Rarium Rocket Logo">
                </div>
                <h1>TRACKGENIX</h1>
                <div class="hamburguer-menu">
                    <img src="../assets/img/hamburguer-menu.png" alt="Hamburguer menu">
                </div>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="./index.html#features">Features</a></li>
                    <li><a href="./index.html#why">Why Should You Use Trackgenix?</a></li>
                    <li><a href="./index.html#history">History</a></li>
                    <li><a href="./index.html#products">Products</a></li>
                    <li><a href="./index.html#aboutUs">About Us</a></li>
                    <li><a href="./index.html#support">Support</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <form>
                <input type="search" placeholder="Search">
            </form>
            <p>
                Menu
            </p>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./sign-up.html">SignUp</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./index.html#form">Contact Information</a></li>
            </ul>
            <img src="../assets/img/RR-logo.png" alt="Radium Rocket Logo">
        </aside>
        <main>
            <section class="login">
                <form>
                    <h3>Login</h3>
                    <div class="inputs">
                        <input id="email" type="text" name="Email" placeholder="Enter your Email">
                        <input id="password" type="password" name="Password" placeholder="Enter your password">
                    </div>
                    <button id="loginButton" type="button">Login</button>
                </form>
            </section>
        </main>
        <footer>
            <ul>
                <form>
                    <li><a href="https://www.facebook.com/" target="_blank"><img src="../assets/img/facebook.png"></a>
                    </li>
                    <li><a href="https://twitter.com/" target="_blank"><img src="../assets/img/twitter.png"></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><img src="../assets/img/instagram.png"></a>
                    </li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><img src="../assets/img/linkedin.png"></a>
                    </li>
                </form>
            </ul>
            <p>
                Rosario, Argentina
            </p>
            <p>
                Copyright @ 2022 Gigatech Software Solutions, All rights reserved.
            </p>
        </footer>
    </body>
</html>