body{
    background-color: white;
    width: 100vw;
    font-family: 'roboto';
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}
header{
    position: fixed;
    text-align: center;
    width: 1512px;
    height: 91px;
    background-color: #373867;
    color: #46A07B;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    z-index: 1;
}
main{
    position: relative;
    width: 1259px;
    top: 200px;
    left: 253px;
    overflow-x: hidden;
}
footer{
    position: relative;
    text-align: center;
    width: 1259px;
    height: 74px;
    top: 300px;
    margin-left: 253px;
    background: #373867;
}
footer ul{
    display: inline-block;
    position: relative;
    top: 12px;
    margin-bottom: 80px;
}
footer ul li{
    align-items: center;
    float: left;
    width: 120px;
}
footer p{
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.rr-logo-head img{
    position: fixed;
    width: 65px;
    left: 26px;
    top: 12px;
    z-index: 1;
}
.sidebar{
    position: fixed;
    width: 253px;
    height: 9457px;
    left: 0px;
    top: 91px;
    background: rgba(55, 56, 103, 0.1);
}
.sidebar input{
    position: absolute;
    width: 236px;
    height: 30.49px;
    left: 8px;
    top: 40px;
}
.sidebar p{
    position: absolute;
    width: 50px;
    height: 23px;
    left: 105px;
    top: 100px;
    font-weight: 700;
    font-size: 19.3686px;
    line-height: 23px;
    color: #373867;
}
.sidebar ul li a{
    position: relative;
    top: 150px;
    display: block;
    text-align: center;
    font-family: roboto;
    font-weight: 400;
    font-size: 16.2704px;
    line-height: 65px;
    color: #479679;
    border-top: 1px solid #000000;
}
.sidebar img{
    position: absolute;
    width: 66px;
    height: 75px;
    left: 95px;
    top: 609px;
}
.nav{
    position: fixed;
    width: 1259px;
    height: 55px;
    top: 91px;
    left: 253px;
    box-sizing: border-box;
    background-color: #373867;
    z-index: 1;
}
.nav a{
    position: relative;
    float: left;
    width: 208px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #479679;
    text-decoration: none;
}
h2{
    position: relative;
    text-align: center;
    width: 255px;
    height: 58px;
    left: 512px;
    font-weight: 400;
    font-size: 49.3617px;
    line-height: 58px;
    color: #373867;
    box-sizing: border-box;
    background: rgba(170, 206, 155, 0.53);
    border: 2px solid #00000070;
    border-radius: 20px;
}
.home{
    position: relative;
    display:inline-block;
    margin-top: 50px;
    width: 50%;
}
.home p{
    position: absolute;
    left: 100px;
    top: 100px;
    width: 546px;
    font-style: normal;
    font-weight: 400;
    font-size: 28.8453px;
    line-height: 41px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #373867;
}
.home img{
    position: relative;
    left: 550px;
    top: 30px;
    float: right;
    width: 500px;
    height: 272.52px;
    border: 0.75px solid #000000;
}
h3{
    position: relative;
    margin-top: 120px;
    margin-left: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #373867;
}
.features article{
    display: inline-block;
    margin-top: 30px;
    margin-left: 80px;
    width: 40%;
    text-align: center;
}
.features img{
    width: 232px;
    height: 232px;
    margin-top: 20px;
    background: rgba(170, 206, 155, 0.3);
    padding: 5px;
    border-radius: 10px;
}
h4{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
}
.why article{
    display: inline-block;
    margin-top: 50px;
    margin-left: 80px;
    width: 40%;
}
.why img{
    position: relative;
    height: 95px;
    margin-top: 40px;
    margin-left: 20px;
    z-index: 1;
}
.backgroundShouldUse{
    position: absolute;
    transform: rotate(45deg);
    width: 131.25px;
    height: 125px;
    background: rgba(170, 206, 155, 0.3);
    margin-top: 30px;
}
.why h4{
    width: 110%;
    margin-left: 60px;
}
.why p{ 
    width: 350px;
    margin-top: 30px;
    margin-left: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
}
.shouldUse{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.form p{
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.myForm{
    display: block;
    margin-top: 30px;
    margin-left: 30px;
}
.myForm input{
    width: 590px;
    height: 37px;
    margin-top: 10px;
}
.choose select{
    width: 1200px;
    height: 37px;
    margin-top: 10px;
    margin-left: 30px;
}
.check{
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
}
.check input{
    float: left;
}
.check p{
    margin-top: 10px;
    margin-left: 80px;
}
.checkOne{
    position: absolute;
}
.checkTwo{
    margin-left: 600px;
}
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.text p{
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'K2D';
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
}
.text textarea{
    width: 1190px;
    height: 296px;
    margin-left: 30px;

}
.submit input{
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
}
.mission img{
    position: absolute;
    width: 112px;
    height: 115.45px;
    margin-left: 1027px;
}
.mission h4{
    margin-top: 50px;
    margin-left: 50px;
}
.makeTime{
    width: 722px;
    height: 52px;
    left: 395px;
    top: 161px;
    margin-left: 275px;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 78px;
    text-align: center;
    color: #151515;
}
.ourMission{
    width: 1126px;
    height: 90px;
    left: 50px;
    top: 237px;
    margin-top: 30px;
    margin-left: 75px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1C1C37;
}
.hear{
    width: 1338px;
    height: 20px;
    left: 91px;
    top: 446px;
    margin-left: 50px;
    margin-top: 30px;
    font-style: italic;
    font-weight: 100;
    font-size: 17px;
    line-height: 20px;
}
.satisfied{
    height: 20px;
    left: 1154px;
    top: 465px;
    margin-top: 5px;
    margin-left: 1000px;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}
.aboutUs{
    position: relative;
    display:inline-block;
    margin-top: 50px;
    width: 40%;
}
.aboutUs p{
    position: absolute;
    width: 700px;
    margin-top: 50px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #373867;
}
.aboutUs img{
    position: relative;
    box-sizing: border-box;
    width: 385px;
    left: 700px;
    margin-top: 50px;
    float: right;
    border: 0.5px solid #000000;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}
.products article{
    display: inline-block;
    place-content: center;
    margin-top: 30px;
    margin-left: 100px;
    width: 40%;
    height: 220px;
}
.products h4{
    font-size: 26px;
    color: #000000;
}
.products img{
    width: 406px;
}
.products p{
    font-size: 14px;
}
.products ul li{
    margin-left: 50px;
    list-style: disc;
    font-size: 14px;
}
.company article{
    position: relative;
    display:inline-block;
    margin-top: 50px;
    margin-left: 100px;
}
.company img{
    position: relative;
    width: 477px;
}
.company h4{
    font-size: 26px;
    color: #000000;
}
.company p{
    width: 520px;
    font-size: 21px;
}
.companyText{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-left: 30px;
}
.companySecondArticle{
    margin-bottom: 100px;
}
.companySecondArticle img{
    position: absolute;
    margin-left: 600px;
}
.support article{
    display: inline-block;
    margin-top: 30px;
    margin-left: 80px;
    width: 40%;
    text-align: center;
    vertical-align: top;
    font-size: 23px;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
}
.support img{
    width: 437px;
    height: 288px;
}
.tutorials ol{
    margin-top: 50px;
}
.tutorials ol li{
    margin-left: 100px;
    list-style-type: decimal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
.tutorials input{
    display: inline-block;
    margin-top: 30px;
    margin-left: 450px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    font-size: 16px;
    background-color: #98220D;
    color: white;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}