nav{
    display: none;
}
.nav{
    position: fixed;
    height: 56px;
    width: max(70%, (100% - 320px) );
    top: 91px;
    margin-left: min(30%, 320px);
    background-color: #373867;
    z-index: 1;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.nav a{
    position: relative;
    width: 208px;
    font-size: 0.9rem;
    text-align: center;
    color: #479679;
    text-decoration: none;
}

@media (min-width: 768px){
    nav{
        display: flex;
    }
}
