nav{
    display: none;
}
.nav{
    position: fixed;
    width: 70%;
    height: 56px;
    margin-left: 30%;
    top: 91px;
    box-sizing: border-box;
    background-color: #373867;
    z-index: 1;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.nav a{
    position: relative;
    width: 208px;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 23px;
    text-align: center;
    color: #479679;
    text-decoration: none;
}

@media (min-width: 768px){
    nav{
        display: flex;
    }
}
@media (min-width: 1200px){
    .nav{
        width: 80%;
        margin-left: 20%;
    }
}